# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage
coverage.html
*.cov.tmp

# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.DS_Store
.idea
*.iml

# CMake
cmake-build-*/

# File-based project format
*.iws
*.ipr

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Environment file
.env

# Go packages and sources:
# .gocache

# Visual Code Studio
.vscode

# Cucumber report
report/node_modules
report/output/report.html
report/output/report.json
