# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__pycache__
bin/
vendor/
.env

!/**/.gitkeep

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage
coverage.html
*.cov.tmp

# Jetbrains files
.DS_Store
.idea
*.iml
.idea_modules/

# Build
build/
cmake-build-*/

# File-based project format
*.iws
*.ipr

# JIRA plugin
atlassian-ide-plugin.xml

# Go packages and sources:
.gocache

# Visual Code Studio
.vscode

# Cucumber report
tests/report/node_modules
tests/report/output/report.html
tests/report/output/report.json

# Plugin download
services/api/integration-tests/plugins
services/api/integration-tests/manifests

services/tx-sender/integration-tests/plugins
services/tx-sender/integration-tests/manifests


# API Doc
node_modules

# Script logs
scripts/besu/logs/**
scripts/quorum/logs/**
