version: "3.7"

x-default-variables: &default-variables
  CHAIN_REGISTRY_URL: ${CHAIN_REGISTRY_URL-http://chain-registry:8081}
  CONTRACT_REGISTRY_URL: ${CONTRACT_REGISTRY_URL-contract-registry:8080}
  ENVELOPE_STORE_URL: ${ENVELOPE_STORE_URL-envelope-store:8080}
  TRANSACTION_SCHEDULER_URL: ${TRANSACTION_SCHEDULER_URL-http://transaction-scheduler:8081}
  CHAIN_REGISTRY_INIT: ${CHAIN_REGISTRY_INIT-}
  ETH_CLIENT_RETRY_MAX_ELAPSED_TIME: 5s
  LOG_LEVEL: ${LOG_LEVEL-debug}
  LOG_FORMAT: ${LOG_FORMAT-}
  JAEGER_AGENT_HOST: ${JAEGER_AGENT_HOST-jaeger}
  JAEGER_AGENT_PORT: ${JAEGER_AGENT_PORT-6831}
  NONCE_MANAGER_TYPE: ${NONCE_MANAGER_TYPE-redis}
  REDIS_URL: ${REDIS_URL-redis:6379}
  VAULT_ADDR: ${VAULT_ADDR-http://vault:8200}
  # FAUCET_CREDITOR_ADDRESS: ${FAUCET_CREDITOR_ADDRESS-0x93f7274c9059e601be4512f656b57b830e019e41}@${GETH_NETWORKID-888}
  MULTI_TENANCY_ENABLED: ${MULTI_TENANCY_ENABLED-false}
  AUTH_JWT_CLAIMS_NAMESPACE: ${AUTH_JWT_CLAIMS_NAMESPACE-http://tenant.info/}
  AUTH_JWT_CERTIFICATE: ${AUTH_JWT_CERTIFICATE-}
  AUTH_JWT_PRIVATE_KEY: ${AUTH_JWT_PRIVATE_KEY-}
  AUTH_API_KEY: ${AUTH_API_KEY-}
  KAFKA_URL: ${KAFKA_URL-kafka:29092}
  KAFKA_SASL_ENABLED: ${KAFKA_SASL_ENABLED-false}
  KAFKA_SASL_MECHANISM: ${KAFKA_SASL_MECHANISM-PLAIN}
  KAFKA_SASL_USER: ${KAFKA_SASL_USER-}
  KAFKA_SASL_PASSWORD: ${KAFKA_SASL_PASSWORD-}
  KAFKA_TLS_ENABLED: ${KAFKA_TLS_ENABLED-false}
  KAFKA_TLS_INSECURE_SKIP_VERIFY: ${KAFKA_TLS_INSECURE_SKIP_VERIFY-false}

x-container-common: &container-common
  image: golang:1.14
  restart: ${CONTAINER_RESTART-on-failure}
  entrypoint: /bin/main
  tty: true
  networks:
    - orchestrate
    - quorum
  volumes:
    - ./build/bin/orchestrate:/bin/main:ro
    - ./public:/go/public:ro

x-chain-registry-common: &chain-registry-common
  CHAIN_REGISTRY_TYPE: ${CHAIN_REGISTRY_TYPE-}
  DB_HOST: postgres-chain-registry

x-contract-registry-common: &contract-registry-common
  CONTRACT_REGISTRY_TYPE: ${CONTRACT_REGISTRY_TYPE-}
  DB_HOST: postgres-contract-registry

x-envelope-store-common: &envelope-store-common
  ENVELOPE_STORE_TYPE: ${ENVELOPE_STORE_TYPE-}
  DB_HOST: postgres-envelope-store

x-transaction-scheduler-common: &transaction-scheduler-common
  TRANSACTION_SCHEDULER_TYPE: ${TRANSACTION_SCHEDULER_TYPE-}
  DB_HOST: postgres-transaction-scheduler

services:
  chain-registry-migration-init:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *chain-registry-common
    restart: "no"
    command: chain-registry migrate init

  chain-registry-migration:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *chain-registry-common
    restart: "no"
    depends_on:
      - chain-registry-migration-init
    command: chain-registry migrate up

  chain-registry:
    <<: *container-common
    ports:
      - 8011:8081
      - 8012:8082
    environment:
      <<: *default-variables
      <<: *chain-registry-common
      CHAIN_REGISTRY_INIT: ${CHAIN_REGISTRY_INIT-}
    depends_on:
      - chain-registry-migration
    command: chain-registry run

  contract-registry-migration-init:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *contract-registry-common
    restart: "no"
    command: contract-registry migrate init

  contract-registry-migration:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *contract-registry-common
    restart: "no"
    depends_on:
      - contract-registry-migration-init
    command: contract-registry migrate up

  contract-registry:
    <<: *container-common
    ports:
      - 8020:8080
      - 8021:8081
      - 8022:8082
    environment:
      <<: *default-variables
      <<: *contract-registry-common
      ABI: ${ABI-}
    depends_on:
      - contract-registry-migration
    command: contract-registry run

  envelope-store-migration-init:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *envelope-store-common
    restart: "no"
    command: envelope-store migrate init

  envelope-store-migration:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *envelope-store-common
    restart: "no"
    depends_on:
      - envelope-store-migration-init
    command: envelope-store migrate up

  envelope-store:
    <<: *container-common
    ports:
      - 8030:8080
      - 8031:8081
      - 8032:8082
    environment:
      <<: *default-variables
      <<: *envelope-store-common
    depends_on:
      - envelope-store-migration
    command: envelope-store run

  transaction-scheduler-migration-init:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *transaction-scheduler-common
    restart: "no"
    command: transaction-scheduler migrate init

  transaction-scheduler-migration:
    <<: *container-common
    environment:
      <<: *default-variables
      <<: *transaction-scheduler-common
    restart: "no"
    depends_on:
      - transaction-scheduler-migration-init
    command: transaction-scheduler migrate up

  transaction-scheduler:
    <<: *container-common
    ports:
      - 8041:8081
      - 8042:8082
    environment:
      <<: *default-variables
      <<: *transaction-scheduler-common
    depends_on:
      - transaction-scheduler-migration
    command: transaction-scheduler run

  tx-crafter:
    <<: *container-common
    environment:
      <<: *default-variables
      JAEGER_SERVICE_NAME: TX-CRAFTER
    depends_on:
      - contract-registry
    command: tx-crafter run

  tx-signer:
    <<: *container-common
    environment:
      <<: *default-variables
      JAEGER_SERVICE_NAME: TX-SIGNER
      SECRET_PKEY: ${SECRET_PKEY-}
      SECRET_STORE: ${SECRET_STORE-hashicorp}
    volumes:
      - vault-token:/vault/token:ro
      - ./build/bin/orchestrate:/bin/main
    command: tx-signer run

  tx-sender:
    <<: *container-common
    environment:
      <<: *default-variables
      JAEGER_SERVICE_NAME: TX-SENDER
    command: tx-sender run

  tx-listener:
    <<: *container-common
    environment:
      <<: *default-variables
      LISTENER_START_DEFAULT: latest
      JAEGER_SERVICE_NAME: TX-LISTENER
    depends_on:
      - envelope-store
      - chain-registry
    command: tx-listener run

  e2e:
    <<: *container-common
    environment:
      <<: *default-variables
      CUCUMBER_OUTPUTPATH: "/report/output/report.json"
      CUCUMBER_PATHS: "/features"
      CUCUMBER_FORMAT: "cucumber"
      AUTH_JWT_PRIVATE_KEY: ${AUTH_JWT_PRIVATE_KEY-}
      # Uncomment CUCUMBER_TAGS if only run features and scenarios with @public-tx or @account tags ("," = OR, "&&" = AND, "~" = NOT)
#      CUCUMBER_TAGS: "@besu"
    restart: "no"
    volumes:
      - ./build/bin/e2e:/bin/main
      - ./build/report:/report/output
      - ./tests/features:/features

  generate-jwt:
    <<: *container-common
    environment:
      <<: *default-variables
    command: utils generate-jwt
    restart: "no"

volumes:
  vault-token:
    external:
      name: deps_vault-token

networks:
  orchestrate:
    external:
      name: deps_orchestrate
  quorum:
    external:
      name: quorum_quorum-tessera
