version: '3.7'

x-container-common: &container-common
  restart: ${CONTAINER_RESTART-on-failure}
  networks:
    - orchestrate
    - quorum

x-postgres-common: &postgres-common
  environment:
    POSTGRES_PASSWORD: postgres

services:
  zookeeper:
    <<: *container-common
    image: confluentinc/cp-zookeeper:5.4.3
    ports:
      - ${ZOOKEEPER_EXTERNAL_PORT-2181}:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: ${ZOOKEEPER_CLIENT_PORT-32181}
      ZOOKEEPER_TICK_TIME: ${ZOOKEEPER_TICK_TIME-2000}

  kafka:
    <<: *container-common
    image: confluentinc/cp-kafka:5.4.3
    depends_on:
      - zookeeper
    ports:
      - ${KAFKA_EXTERNAL_PORT-9092}:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_NUM_PARTITIONS: ${KAFKA_NUM_PARTITIONS-3}
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:${ZOOKEEPER_CLIENT_PORT-32181}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://${KAFKA_EXTERNAL_HOSTNAME-localhost}:${KAFKA_EXTERNAL_PORT-9092}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
    healthcheck:
      test: ["CMD", "kafka-topics", "--list", "--bootstrap-server", "kafka:9092"]
      interval: 3s
      timeout: 3s
      retries: 10
      start_period: 5s

  redis:
    <<: *container-common
    image: redis:6.0-alpine
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - 6379:6379
    volumes:
      - ./redis/config/redis.conf:/usr/local/etc/redis/redis.conf

  #  redis:
  #    <<: *container-common
  #    build: ./redis
  #    user: root
  #    ports:
  #      - 6379:6379
  #      - 6378:6378
  #    volumes:
  #      - ./redis/config/stunnel.conf:/etc/stunnel/stunnel.conf
  #      - ./redis/config/redis-auth.conf:/etc/redis/redis.conf
  #      - ./redis/init.sh:/init.sh
  #    command: sh /init.sh

  postgres-unit:
    <<: *container-common
    <<: *postgres-common
    image: postgres:13.1-alpine
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr", "-c", "log_connections=1", "-c", "log_disconnections=1"]
    ports:
      - 5432:5432
    volumes:
      - db-data-postgres-unit:/var/lib/postgresql/data

  postgres-api:
    <<: *container-common
    <<: *postgres-common
    image: postgres:13.1-alpine
    #    command: ["postgres", "-c", "max_connections=100"]
    #    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - db-data-api:/var/lib/postgresql/data
    ports:
      - 5432

  vault:
    <<: *container-common
    image: library/vault:1.6.2
    tty: true
    cap_add:
      - IPC_LOCK
    volumes:
      - vault-plugin:/vault/plugins
      - ./hashicorp/config/config.hcl:/vault/config.hcl:ro
    entrypoint: vault server -config=/vault/config.hcl
    ports:
      - 8200:8200
    healthcheck:
      test: [ "CMD", "wget", "--spider", "--proxy", "off", "http://vault:8200/v1/sys/health?standbyok=true" ]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 5s

  vault-init:
    <<: *container-common
    build: ./hashicorp
    environment:
      VAULT_ADDR: ${VAULT_ADDR-http://vault:8200}
      PLUGIN_PATH: ${PLUGIN_PATH-/vault/plugins}
      TOKEN_PATH: ${TOKEN_PATH-/vault/token}
      PLUGIN_VERSION: ${PLUGIN_VERSION-v0.0.11-alpha.4}
    restart: "no"
    depends_on:
      - vault
    volumes:
      - vault-token:/vault/token
      - vault-plugin:/vault/plugins
      - ./hashicorp/init.sh:/init.sh
      - ./hashicorp/plugin.sh:/plugin.sh
    command: >
      sh -c "./plugin.sh && ./init.sh"

  vault-agent:
    <<: *container-common
    image: library/vault:1.6.2
    tty: true
    depends_on:
      - vault
      - vault-init
    cap_add:
      - IPC_LOCK
    volumes:
      - vault-token:/vault/token
      - ./hashicorp/config/agent-config.hcl:/vault/config.hcl:ro
    entrypoint: vault agent -config=/vault/config.hcl

  quorum-key-manager:
    <<: *container-common
    image: docker.consensys.net/priv/quorum-key-manager:develop
#    image: quorum-key-manager:local
    depends_on:
      - vault
    volumes:
      - vault-token:/vault/token
      - ./quorum-key-manager/:/manifests/
    ports:
      - 8180:8080
      - 8181:8081
    environment:
      HTTP_PORT: 8080
      HEALTH_PORT: 8081
      MANIFEST_PATH: /manifests
    command: run
    healthcheck:
      test: [ "CMD", "wget", "--spider", "--proxy", "off", "http://quorum-key-manager:8081/ready" ]
      interval: 10s
      timeout: 3s
      retries: 10

volumes:
  db-data-postgres-unit:
    driver: local
  db-data-api:
    driver: local
  vault-token:
    driver: local
  vault-plugin:
    driver: local

networks:
  orchestrate:
    driver: bridge
  quorum:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.238.0/23
