<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0;url={{LATEST_VERSION_URL}}" />
        <link rel="canonical" href="{{LATEST_VERSION_URL}}" />
    </head>
    <body>
        <h1>Orchestrate API documentation</h1>
        <p>
            You will be redirected to <a href="{{LATEST_VERSION_URL}}">Orchestrate API documentation latest version</a>.
        </p>
    </body>
</html>
